<p id="notice"><%= notice %></p>

<h1>Vendor Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendor_types.each do |vendor_type| %>
      <tr>
        <td><%= vendor_type.name %></td>
        <td><%= link_to 'Show', vendor_type %></td>
        <td><%= link_to 'Edit', edit_vendor_type_path(vendor_type) %></td>
        <td><%= link_to 'Destroy', vendor_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendor Type', new_vendor_type_path %>
